* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/src/imagens/imagem-de-fundo-quiz.jpeg');
  background-size: cover;
}

#titulo-login {
  align-items: center;
  background-image: linear-gradient(to bottom, #000000, hsl(0, 0%, 100%));
  display: flex;
  font-family: courier,arial,helvetica;
  font-size: 35px;
  justify-content: center;
  padding: 20px;
}

#titulo {
  color: rgb(33, 197, 33);
  font-weight: 900;
}

@keyframes balanco {
  0% { transform: rotate(0); }
  40% { transform: rotate(10deg); }
  100% { transform: rotate(0); }
}

#logo-quiz {
  animation: balanco 1s ease-in-out infinite;
  height: 100px;
  width: 100px;
}


form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}

label {
  margin-bottom: 20px;
}

#btn-play {
  border-radius: 10px;
  margin: 10px;
  width: 50px;
}

#btn-play:hover {
  background-color: yellow;
}

#btn-config {
  border-radius: 10px;
  margin: 10px;
  width: 100px;
}

#btn-config:hover {
  background-color: rgb(122, 122, 189);
}

input {
  border-radius: 10px ;
  width: 300px;
}

.logo-trivia {
  height: 100px;
  width: 100px;
}
